Source: kodi-audiodecoder-modplug
Priority: extra
Maintainer: Arne Morten Kvarving <cptspiff@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, kodi-audio-dev,
               kodi-addon-dev, libkodiplatform-dev (>= 16.0.0), libmodplug-dev
Standards-Version: 3.9.2
Section: libs

Package: kodi-audiodecoder-modplug
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Modplug audio decoder for Kodi
  Modplug audio decoder for Kodi

Package: kodi-audiodecoder-modplug-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: debug symbols for Modplug audio decoder for Kodi
  debug symbols for Modplug audio decoder for Kodi
